@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Devs of the Web</h1>
    <p class="lead">Bienvenido a Devs of the Web, una comunidad de desarrolladores web que te permitirá leer y escribir publicaciones referidas a temáticas asociadas al desarrollo web.
    Estas publicaciones están categorizadas bajo diferentes tópicos, que te permitirán, de una manera fácil, filtrar el contenido para dejar sólo el que sea de tu interés.</p>
</div>