@{
    ViewBag.Title = "Tags";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <img class="img-circle" src="~/Content/Images/net.jpg" width="88" height="88">
                    <div class="info">
                        <h3 class="title">.NET</h3>
                        <p>
                            El ASP.NET MVC Framework es un framework de Microsoft para aplicaciones web que implementa el patrón modelo-vista-controlador (MVC).
                        </p>
                        <div class="more">
                            <a href="https://www.microsoft.com/net">
                                + INFO
                            </a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <img class="img-circle" src="~/Content/Images/django.jpg" width="88" height="88">
                    <div class="info">
                        <h3 class="title">DJANGO</h3>
                        <p>
                            Django es un framework de aplicaciones Web de código abierto, escrito en Python. Diseñado para reducir el esfuerzo necesario para crear sitios web.
                        </p>
                        <div class="more">
                            <a href="https://www.djangoproject.com/">
                                + INFO
                            </a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <img class="img-circle" src="~/Content/Images/html.jpg" width="88" height="88">
                    <div class="info">
                        <h3 class="title">HTML</h3>
                        <p>
                            HTML (HyperText Markup Language) es el lenguaje de marcado estándar usado para la estructuración de páginas web y formato de contenido.
                        </p>
                        <div class="more">
                            <a href="https://www.w3schools.com/html/">
                                + INFO
                            </a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <img class="img-circle" src="~/Content/Images/css.jpg" width="88" height="88">
                    <div class="info">
                        <h3 class="title">CSS</h3>
                        <p>
                            Hoja de estilo en cascada o CSS es un lenguaje usado para definir y crear la presentación de un documento estructurado escrito en HTML o XML2 (y por extensión en XHTML).
                        </p>
                        <div class="more">
                            <a href="https://www.w3schools.com/css/">
                                + INFO
                            </a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <img class="img-circle" src="~/Content/Images/javascript.jpg" width="88" height="88">
                    <div class="info">
                        <h3 class="title">JAVASCRIPT</h3>
                        <p>
                            JavaScript (abreviado comúnmente JS) es un lenguaje de programación interpretado. Se define como orientado a objetos, basado en prototipos, imperativo, débilmente tipado y dinámico.
                        </p>
                        <div class="more">
                            <a href="https://www.javascript.com/">
                                + INFO
                            </a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <img class="img-circle" src="~/Content/Images/sql.jpg" width="88" height="88">
                    <div class="info">
                        <h3 class="title">SQL</h3>
                        <p>
                            SQL (Structured Query Language) es un lenguaje de programación estándar e interactivo para la obtención de información desde una base de datos y para actualizarla.
                        </p>
                        <div class="more">
                            <a href="https://www.w3schools.com/sql/">
                                + INFO
                            </a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="@Url.Content("~/Content/Tags.css")" rel="stylesheet" type="text/css" />
}