@{
    ViewBag.Title = "Email de confirmación enviado";
}

<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-8">
        Por favor, revisa tu bandeja de entrada. Un correo de confirmación ha sido enviado a @ViewBag.Email
    </div>
</div>