@{
    ViewBag.Title = "Confirmación de cuenta.";
}

<h2>Gracias por confirmar tu cuenta.</h2>
<div>
    <p>
        Por favor, @Html.ActionLink("presiona aquí para iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
