body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.thead-inverse th {
    color: #fff;
    background-color: #373a3c;
}

html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -20px;
}

#push,
#footer {
    height: 20px;
    font-size: 12px;
    text-align: center;
}

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#imageInput {
    display: none;
}

.post-summary {
    text-align: justify;
}

a.tag-link:hover {
    text-decoration: none;
}

    a.tag-link:hover span {
        background-color: #0663b3;
    }
