<html>
<head>
    <title></title>
</head>
<body>
    <span style="font-family:Arial;font-size:10pt">
        <p>
            Hola <i>{UserName}</i>,
            <br /><br />
            Tu publicación <b>"{PostTitle}"</b> fue eliminada por haber alcanzando la cantidad límite de denuncias permitidas.
            <br /><br />
        </p>
        <p>
            A continuación te presentamos las descripciones correspondientes a las denuncias recibidas por tu publicación:
        </p>
        <ul>
            <li><i>{FirstComplaint}</i></li>
            <br />
            <li><i>{SecondComplaint}</i></li>
            <br />
            <li><i>{ThirdComplaint}</i></li>
        </ul>
        <br />
        <p>Saludos.</p>
        <small>Devs of the Web Team. &#169;</small>
    </span>
</body>
</html>